[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
httpie = "*"
coverage = "*"
pillow = "*"
django-silk = "*"
freezegun = "*"
ipython = "*"
isort = "*"
pudb = "*"

[packages]
whitenoise = "*"
boto3 = "*"
drf-yasg = {extras = ["validation"],version = "*"}
django-storages = "*"
djangorestframework = "*"
django = "*"
dynaconf = {extras = ["yaml"],version = "*"}
dj-database-url = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sentry-sdk = "*"
django-crispy-forms = "*"
delorean = "*"
django-ipware = "*"
celery = {extras = ["redis"],version = "*"}
requests = "*"
uvicorn = "*"
gunicorn = "*"
awscli = "*"
geopy = "*"
geoip2 = "*"
