[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
coverage = "*"
ipython = "*"
isort = "*"
psycopg2 = "*"

[packages]
django = "*"
dj-database-url = "*"
lxml = "*"
requests = "*"
httpie = "*"
delorean = "*"
dynaconf = {extras = ["yaml"],version = "*"}
pudb = "*"
geopy = "*"
geoip2 = "*"
